*{
margin:0;
padding:0;
box-sizing:border-box;
}
.outter{
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins,sans-serif;
    font-weight: bold;
    padding: 20px;
    flex-direction: column;

 background: linear-gradient(135deg, #f5f7fa, #e4ecf7);
   
}
.moves{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
   
    width: 100%;
   

}
.moves img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}
.moves div{
    background: #111;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.3s;
}

.moves div:hover{
    transform: scale(1.05);
}
.cinema{
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
input{
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins,sans-serif;
    background-color: transparent;
}
input:focus{
    outline: none;
    background-color: transparent;
}
button{
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: orangered;
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins,sans-serif;
    cursor: pointer;
}

@media (min-width:200px) and (max-width:500px) {
    .moves{
        display: grid;
       grid-template-columns: 1fr;
    }
    .cinema{
        width: 200px;
    }
    input{
        width: 100%;
    }
}
@media (min-width:500px) and (max-width:800px) {
    .moves{
        display: grid;
       
        grid-template-columns: 1fr 1fr;
    }
    .cinema{
        width: 400px;
    }
}
@media (min-width:200px) and (max-width:400px) {
    
}
